.elements__block {
        width: 242px;
        margin: 25px 15px 31px 21px;
        background-color: #fff;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 22px;
        gap: 10px;
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
    }