.profile__info {
    width: 336px;
    height: 73px;
    margin: 0 auto 0 30px;
    gap: 16px;
    align-items: center;
    display: grid;
    grid-template-columns: auto, 1fr;
    grid-template-rows: min-content, min-content;
    grid-template-areas: "profile__name profile__edit-button"
    "profile__text .";
    grid-area: profile__info;
}